# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
release/
src-tauri/gen/
src-tauri/target/
src-tauri/icons/android/
src-tauri/icons/ios/
*.local
geçici.txt
gecici.txt

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
